#assignments-index {
  
}

#assignments-index .upcoming {
  float: left;
  width: 48%;  
}

#assignments-index .past {
  border: 1px solid #E5E5E5;
  float: right;
  padding: 10px;
  width: 40%;
}

#assignments-index .past .header {
  font-weight: bold;
  padding-bottom: 10px;
}

#assignments-index .assignment {
  border-top: 1px solid #ddd;
  overflow: hidden;
  padding: 7px 0;
}

#assignments-index .assignment .options {
  font-size: 85%;
  padding-top: 3px;
}

#assignments-index .assignment .due-date {
  color: #666;
  font-size: 90%;
}

#assignment-form .due-fields {
}

#assignment-form #due-date {
  float: left;
  margin-right: 9px;
  width: 145px;
}

#assignment-form #due-date input {
  width: 95%;
}

#assignment-form #due-time {
  float: left;
  width: 145px;
}

#assignment-form #due-time select {
  margin-top: 2px;
  width: 100%;
}

#assignments-show {
  
}

#assignments-show .due-date {
  padding-bottom: 10px;
}

#assignments-show .submission {
  padding: 8px 0;
}

#assignments-show .submission .preview {
  color: #555;
  padding-left: 7px;
}

#assignments-show .submission .preview:hover {
  color: black;
}

#assignments-show .submission .handed-in-at {
  color: #555;
  font-size: 12px;
  padding-top: 4px;
}

#assignments-show .submission .late {
  color: #DD3C10;
}