/*#submissions-show .content {
  bottom: 0;
  height: auto;
  left: 0;
  min-height: inherit;
  position: absolute;
  right: 0;
  top: 87px;
}*/

/*#submissions-show #annotation-margin {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}*/

/*#submissions-show #submission-text {
  bottom: 0;
  position: absolute;
  top: 45px;
  left: 0;
  right: 200px;
}*/

#submissions-show .annotation {
  font-weight: bold;
}

form#annotation-form {
  background-color: #fef3c6;
}

form#annotation-form .annotation {
  background-color: #fbd499;
}
/*#c2c680*/
form#annotation-form .annotation > .annotation {
  background-color: #FAA399;
}

form#annotation-form .annotation:hover {
/*  background-color: #FAA399;*/
  border: 1px solid #999;
  margin: -1px;
  cursor: pointer;
}

/*#submissions-show .text {
  border-right: 1px solid #ccc;
  padding-right: 10px;
  width: 75%;
}*/