/*#submissions-show .content {
  bottom: 0;
  height: auto;
  left: 0;
  min-height: inherit;
  position: absolute;
  right: 0;
  top: 87px;
}*/

/*#submissions-show #annotation-margin {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}*/

/*#submissions-show #submission-text {
  bottom: 0;
  position: absolute;
  top: 45px;
  left: 0;
  right: 200px;
}*/

#submissions-show .annotation {
  font-weight: bold;
}

/*#submissions-show .text {
  border-right: 1px solid #ccc;
  padding-right: 10px;
  width: 75%;
}*/