#courses-index .courses {
/*  float: left;*/
}

#courses-index .course {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  margin: 0 0 5px 0;
}

#courses-index .course > div {
  padding: 5px 13px;
}

#courses-index .course .name {
  font-size: 110%;
}

#courses-index .course .date-range {
  background-color: #FAFAFA;
  border-top: 1px solid #ddd;
  color: #555;
  font-size: 90%;
}

#course-form .fields {
/*  overflow: hidden;*/
}

#course-form .fields > div {
  float: left;
}

#courses-show {
  overflow: hidden;
}

#courses-show .summary {
  float: left;
}

#courses-show .stats {
  float: right;
  width: 210px;
}

#courses-show .stat {
  overflow: hidden;
}

#courses-show .stat + .stat {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

#courses-show a.count {
  color: black;
  float: left;
  text-decoration: none;
}

#courses-show a.count:hover,
#courses-show a.count:hover span {
  color: #4183C4;
}

#courses-show a.count strong {
  display: block;
  font-size: 30px;
}

#courses-show a.count span {
  color: #999;
  display: block;
  font-size: 10px;
  margin-top: -5px;
}

#courses-show .stat .add {
  margin-top: 13px;
  float: right;
}