.course.menu {
  border-top: 1px solid #E1E1E1;
  padding: 6px 20px;
}

.course.menu .course-name {
  color: black;
  float: left;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}

.course.menu .course-operations {
  float: left;
  overflow: hidden;
}

.course.menu .course-operations li {
  float: left;
  margin: 5px 10px 0 5px;
}