#studiers-index td,
#studiers-index th {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 4px 7px;
}

#studiers-index th {
  font-weight: bold;
}

#studiers-index td.name {
  width: 190px;
}

#studiers-index td.email {
  color: #555;
  width: 170px;
}

#studiers-index td.links {
  font-size: 12px;
  text-align: right;
}

#studiers-show .assignments li {
  border-top: 1px solid #ddd;
  padding: 7px 0;
}

#studiers-show .assignment-name {
}

#studiers-show .preview {
}

#studiers-show .preview {
  font-size: 90%;
}

#studiers-show .actions {
  font-size: 12px;
  margin-top: 2px;
}

#studiers-show .hand-in {
  font-size: 11px;
  color: #808080;
}

#studiers-show .late {
  color: #DD3C10;
}
