#submissions-show .content {
  bottom: 0;
  height: auto;
  left: 0;
  min-height: inherit;
  position: absolute;
  right: 0;
  top: 87px;
}

#submissions-show h2 button {
  
}

#submissions-show #submission-text {
  bottom: 0;
  position: absolute;
  top: 45px;
  width: 100%;
}

#submissions-show .annotation {
  font-weight: bold;
}

/*#submissions-show .text {
  border-right: 1px solid #ccc;
  padding-right: 10px;
  width: 75%;
}*/