#enrollments-index li.enrollment + li {
  border-top: 1px solid #ddd;
  margin-top: 8px;
  padding-top: 8px;
}

#enrollments-index .name {
  font-weight: bold;
}

#enrollments-index .taught-by {
  color: #666;
  font-size: 12px;
}

#enrollments-index .actions {
  margin-top: 4px;
}