<% if @past_assignments.any? %>
  <div id="past-assignments">
    <div class="header">Past assignments</div>
    <ul>
      <% @past_assignments.each do |assignment| %>
        <li class="assignment">
          <%= link_to h(assignment.name), teaching_assignment_path(current_course, assignment) %>
          <span class="due-date">
            due <%= relative_assignment_due_date(assignment.due_date) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
