<h2>
  Upcoming Homework
  <%= link_to 'Add homework »', new_teaching_assignment_path(current_course) %>  
</h2>

<% if @past_assignments.empty? && @upcoming_assignments.empty? %>
  <%= render 'welcome' %>
<% else %>
  <%= render 'upcoming_assignments' %>
  <%= render 'past_assignments' %>
<% end %>
