<h2>
  Homework
  <%= link_to 'Assign homework »', new_teaching_assignment_path(current_course) %>  
</h2>

<% if @assignments.any? %>
  <div id="assignment-index">
    <ul>
      <% @assignments.due.each do |assignment| %>
        <li class="assignment"><%= render assignment %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="welcome">
    <p>
      This course has no homework assignments.
    </p>
    <p>
      <%= link_to 'Assign new homework', new_teaching_assignment_path(current_course) %>
  </div>
<% end %>