<h2>
  Upcoming Homework
  <%= link_to 'Assign homework »', new_teaching_assignment_path(current_course) %>  
</h2>

<% if @grouped_assignments.empty? %>
  <%= render 'welcome' %>
<% else %>
  <div id="assignment-index">
    <% @grouped_assignments.each do |date, assignments| %>
      <div class="date">
        Due <%= relative_assignment_due_date(date) %>
      </div>
      <ul>
        <% assignments.each do |assignment| %>
          <li class="assignment"><%= render assignment %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
