<h2>
  Assignments
  <%= link_to 'New assignment »', new_teaching_assignment_path(current_course) %>  
</h2>
<div class="assignments">
  <ul>
    <% @assignments.each do |assignment| %>
      <li class="assignment"><%= render assignment %></li>
    <% end %>
  </ul>
</div>