<div class="assignments">
  <ul>
    <% @assignments.each do |assignment| %>
      <li class="assignment"><%= render assignment %></li>
    <% end %>
  </ul>

  <%= link_to 'New assignment', new_teaching_assignment_path(current_course) %>
</div>