<h2>
  <%= @assignment.name %>
  <%= @assignment.past? ? 'was due' : 'is due' %>
  <%= relative_assignment_due_date @assignment.due_date %>
  <%= link_to 'Edit settings', edit_teaching_assignment_path(current_course, @assignment) %>
</h2>

<div id="assignment-show">
  <strong>Submissions</strong>
</div>