<h2>
  <%= @assignment.name %>
  <%= link_to 'Edit settings', edit_teaching_assignment_path(current_course, @assignment) %>
</h2>

<div id="assignment-show">
  <ul>
    <li>
      Description
      <%= @assignment.description %>
    </li>
  </ul>
  
  <strong>Student Submissions</strong>
</div>