<%= yui_stylesheet 'assets/skins/sam/skin' %>

<%= yui_javascript 'yahoo-dom-event/yahoo-dom-event',
                   'element/element-min',
                   'container/container_core-min',
                   'editor/simpleeditor-min' %>

<% form_for @composition, :url => studying_composition_path(current_course, current_assignment) do |f| %>
  <div>
    <%= f.text_area :text %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<script>
var myEditor = new YAHOO.widget.Editor('composition_text', {});
myEditor.render();
</script>