html {
  height: auto;
  min-height: 100%;
}

body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 14px;
}

a, a:visited {
  color: #55c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

br {
  clear: both;
  height: 0;
  width: 0;
}

body > .header {
  background-color: #FAFAFA;
  border-bottom: 5px solid #F6F6F6;
}

body > .header .menu {
  margin: 0 auto;
  overflow: hidden;
  width: 650px;
}

body > .header .main.menu {
  padding: 5px 12px;  
}

body > .header .main.menu .logo {
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 36px;
  text-decoration: none;
}

body > .header .main.menu ul.links {
  float: right;
  padding-top: 12px;
  text-align: right;
}

body > .header .main.menu ul.links li {
  float: left;
  margin-left: 8px;
  padding: 1px 2px;
}

body > .content {
  margin: 0 auto;
  padding: 20px;
  width: 650px;
}