* {
  outline: none;
}

html {
  height: auto;
  min-height: 100%;
}

body, input, select {
  color: #333;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
  font-size: 14px;
}

body {
/*  background-color:;*/
  height: 100%;
}

a, a:visited {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  color: #4183C4;
  text-decoration: underline;
}

br {
  clear: both;
  height: 0;
  width: 0;
}

strong {
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

h2 a {
  font-size: 80%;
  margin-left: 30px;
}

body > .header {
  background-color: #FAFAFA;
}

body > .header .menu {
  margin: 0 auto;
  overflow: hidden;
  width: 780px;
}

body > .header .main.menu {
  padding: 5px 12px;  
}

body > .header .main.menu .logo {
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 36px;
  text-decoration: none;
}

body > .header .main.menu ul.links {
  float: right;
  padding-top: 12px;
  text-align: right;
}

body > .header .main.menu ul.links li {
  float: left;
  font-weight: bold;
  margin-left: 6px;
  padding: 1px 2px;
}

body > .content {
  margin: 0 auto;
  min-height: 400px;
  overflow: hidden;
  padding: 20px;
  width: 780px;
}

.welcome {
  background-color: #E8F0F9;
  color: #666666;
  padding: 20px;
}

.welcome p + p {
  margin-top: 10px;
}

.welcome ul {
  margin-top: 10px;
}

.welcome li {
  list-style-type: disc;
  list-style-position: inside;
}