form > div {
  margin-bottom: 11px;
  padding: 2px;
}

form p + p {
  padding-top: 1px;
}

form input[type="text"],
form input[type="password"] {
  padding: 3px;
  width: 300px;
}

form input[type="checkbox"] {
  margin-top: 2px;
  vertical-align: top;
}

form .formError {
  color: #AA0000;
  font-style: italic;
  margin-top: 3px;
}