form > div {
  padding: 2px;
}

form label {
  display: block;
  margin: 11px 0 1px 0;
}

form input[type="text"],
form input[type="password"],
form textarea {
  padding: 3px;
  width: 300px;
}

form select {
  padding: 3px;
}

form .checkbox {
  margin-bottom: 11px;
}

form input[type="checkbox"] {
  margin-top: 2px;
  vertical-align: top;
}

form input[type="submit"] {
  margin-top: 11px;
}

form .cancel {
  margin-left: 8px;
}

form .formError {
  color: #AA0000;
  font-size: 90%;
  font-style: italic;
  margin-top: 3px;
}

form .tip {
  color: #666;
  font-size: 85%;
  padding: 1px 0 0 5px;
}