form > div {
  margin-bottom: 11px
}

form label {
  display: block;
  padding-bottom: 1px;
}

form input[type="text"],
form input[type="password"] {
  padding: 3px;
  width: 25em;
}

form .formError {
  color: #AA0000;
  font-style: italic;
  margin-top: 3px;
}