* {
  outline-style: none;
}

html {
  height: auto;
  min-height: 100%;
}

body {
  font-family: Arial, "MS Trebuchet", sans-serif;
}

a, a:visited {
  color: #55c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.playground {
}

.playground .header {
  background-color: #FAFAFA;
  border-bottom: 5px solid #F6F6F6;
}

.playground .menu {
  margin: 0 auto;
  overflow: hidden;
  padding: 5px 12px;
  width: 650px;
}

.playground .menu .logo {
  float: left;
  font-family: Georgia;
  font-size: 36px;
}

.playground .menu .logo a {
  color: black;
  text-decoration: none;
}

.playground .menu ul.links {
  float: right;
  text-align: right;
}

.playground .menu ul.links li {
  font-weight: bold;
  padding-bottom: 5px;
}

.playground .content {
  margin: 0 auto;
  padding: 20px;
  width: 650px;
}

.playground .content .warning {
  background-color: #FFEBE8;
  border: 1px solid #DD3C10;
  margin: 4px 0 10px 0;
  padding: 10px;
}