* {
  outline-style: none;
}

html {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #55c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.playground {
}

.playground .header {
  background-color: #FAFAFA;
  border-bottom: 5px solid #F6F6F6;
}

.playground .menu {
  font-weight: bold;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px 12px;
  width: 650px;
}

.playground .menu .logo {
  float: left;
  font-family: "Didot";
  font-size: 36px;
}

.playground .menu .logo a {
  color: black;
  text-decoration: none;
}

.playground .menu ul.links {
  float: right;
  text-align: right;
}

.playground .menu ul.links li {
  padding-bottom: 5px;
}

.playground .content {
  margin: 0 auto;
  padding: 20px;
  width: 650px;
}