* {
  outline-style: none;
}

.playground {
}

.playground .menu ul.links {
  float: right;
  text-align: right;
}

.playground .menu ul.links li {
  font-weight: bold;
  padding-bottom: 5px;
}

.playground .content {
  margin: 0 auto;
  padding: 20px;
  width: 650px;
}

.playground .content .warning {
  background-color: #FFEBE8;
  border: 1px solid #DD3C10;
  margin: 4px 0 10px 0;
  padding: 10px;
}