html {
  height: auto;
  min-height: 100%;
}

body {
  height: 100%;
}

br {
  clear: both;
  height: 0;
  width: 0;
}

body > .header {
  background-color: #FAFAFA;
}

body > .header .menu {
  margin: 0 auto;
  overflow: hidden;
  width: 780px;
}

body > .header .main.menu {
  padding: 5px 0;  
}

body > .header .main.menu .logo {
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 24px;
  text-decoration: none;
}

body > .header .main.menu ul.links {
  float: right;
  padding-top: 6px;
  text-align: right;
}

body > .header .main.menu ul.links li {
  float: left;
  font-weight: bold;
  margin-left: 6px;
  padding: 1px 2px;
}

body > .header .sub.menu {
  background-color: #F0F0F0;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  height: 34px;
}

body > .header .sub.menu .title {
  color: black;
  float: left;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  margin-right: 20px;
  text-decoration: none;
  padding: 4px 0 0 6px;
}

body > .header .sub.menu .topics {
  float: left;
  overflow: hidden;
}

body > .header .sub.menu .topics li {
  float: left;
}

body > .header .sub.menu .topics li.current {
  background-color: #E7E7E7;
}

body > .header .sub.menu .topics li a {
  display: inline-block;
  height: 26px;
  padding: 8px 10px 0 10px;
  text-align: center;
/*  text-decoration: none;*/
}

body > .content {
  margin: 0 auto;
  min-height: 400px;
  overflow: hidden;
  padding: 20px 1px;
  width: 780px;
}

.welcome {
  background-color: #E8F0F9;
  color: #666666;
  padding: 20px;
}

.welcome p + p {
  margin-top: 10px;
}

.welcome ul {
  margin-top: 10px;
}

.welcome li {
  list-style-type: disc;
  list-style-position: inside;
}