html {
  height: auto;
  min-height: 100%;
}

body {
  height: 100%;
}

br {
  clear: both;
  height: 0;
  width: 0;
}

body > .header {
  background-color: #F4F4F4;
}

body > .header .menu {
  margin: 0 auto;
  overflow: hidden;
  width: 780px;
}

.header .main.menu {
  padding: 5px 0;  
}

.header .main.menu .logo {
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 24px;
  text-decoration: none;
}

.header .main.menu ul.links {
  float: right;
  padding-top: 6px;
  text-align: right;
}

.header .main.menu ul.links li {
  float: left;
  font-weight: bold;
  margin-left: 6px;
  padding: 1px 2px;
}

.header .sub.menu {
  background: url(/images/sub_menu_bg.png) repeat-x scroll 50% 50%;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  height: 34px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.header .sub.menu .title {
  color: #333;
  float: left;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  margin-right: 20px;
  text-decoration: none;
  padding: 5px 0 0 6px;
}

.header .sub.menu .topics {
  float: left;
  overflow: hidden;
}

.header .sub.menu .topics li {
  color: #555555;
  float: left;
  margin-right: 4px;
}

.header .sub.menu .topics li.current,
.header .sub.menu .topics li:hover {
  background-color: #E6E6E6;
  color: #212121;
}

.header .sub.menu .topics li a {
  color: inherit;
  display: inline-block;
  font-size: 14px;
  height: 26px;
  padding: 8px 10px 0 10px;
  text-align: center;
  text-decoration: none;
}

body > .content {
  margin: 0 auto;
  min-height: 400px;
  overflow: hidden;
  padding: 20px 1px;
  width: 780px;
}

.welcome {
  background-color: #E8F0F9;
  color: #666666;
  padding: 20px;
}

.welcome p + p {
  margin-top: 10px;
}

.welcome ul {
  margin-top: 10px;
}

.welcome li {
  list-style-type: disc;
  list-style-position: inside;
}