<ul>
  <% @enrollments.each do |enrollment| %>
    <li><%= render enrollment %></li>
  <% end %>
</ul>

<% form_tag do %>
  <div><%= text_area_tag :emails %></div>
  <div><%= submit_tag 'Enroll students' %></div>
<% end %>