<% title 'Your courses' %>

<h2>Your courses</h2>

<% if @studying.any? %>
  <strong>Studying</strong>
  <ul>
    <% @studying.each do |course| %>
      <li><%= link_to course.name, studying_path(course) %></li>
    <% end %>
  </ul>
<% end %>

<% if @teaching.any? %>
  <strong>Teaching</strong>
  <ul>
    <% @teaching.each do |course| %>
      <li><%= link_to course.name, teaching_path(course) %></li>
    <% end %>
  </ul>
<% end %>