<style>
.playground .index {
  font-family: "Lucida Grande", sans-serif;
}

.playground .index .slogan {
  font-size: 42px;
/*  text-decoration: underline;*/
}

.playground .index .blurbs {
  margin-top: 20px;
  overflow: hidden;
}

.playground .index .blurb {
  float: left;
  padding-right: 35px;
  width: 240px;
}

.playground .index .question {
  border-bottom: 1px dashed #ccc;
  color: #444;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
  padding-bottom: 6px;
}

.playground .index .answer p {
  margin-bottom: 1px;
}
</style>

<div class="index">
  <div class="slogan">Electronic Homework</div>
  <div class="blurbs">
    <div class="blurb">
      <div class="question">What is it?</div>
      <div class="answer">
        Homework Bin makes it easy for students to turn in homework online.
      </div>
    </div>
    <div class="blurb">
      <div class="question">Why do it?</div>
      <div class="answer">
        <p>Stop wasting paper and ink.</p>
        <p>Stop managing homework through e-mail.</p>
      </div>
    </div>
  </div>
  <div class="blurbs">
    <div class="blurb">
      <div class="question">Who uses it?</div>
      <div class="answer">
        Teachers with a homework bin at the front of their teaching.
      </div>
    </div>
    <div class="blurb">
      <div class="question">How much?</div>
      <div class="answer">
        <p>Your first course is free.</p>
        <p>$5 for each additional course.</p>
      </div>
    </div>
  </div>
</div>

<!-- 
I created this site because I remember how I turned homework in during college.
I ran to the library before class, printed out an essay, and put it at the front desk before class.
Some teachers let me submit homework via e-mail, which usually included an attachment that was ultimately printed out and marked up by the teacher.

What if this entire process could be done online? 
 -->