<div class="index">
  <div class="slogan">Get your homework online</div>
  <div class="blurbs">
    <div class="blurb">
      <div class="question">What is it?</div>
      <div class="answer">
        Homework Bin makes it easy for students to turn in homework online.
      </div>
    </div>
    <div class="blurb">
      <div class="question">Why do it?</div>
      <div class="answer">
        <p>Stop wasting paper and ink.</p>
        <p>Stop managing homework through e-mail.</p>
      </div>
    </div>
  </div>
  <div class="blurbs">
    <div class="blurb">
      <div class="question">Who uses it?</div>
      <div class="answer">
        Teachers with a homework bin at the front of their classroom.
      </div>
    </div>
    <div class="blurb">
      <div class="question">How much?</div>
      <div class="answer">
        <p>Your first course is free.</p>
        <p>$5 for each additional course.</p>
      </div>
    </div>
  </div>
</div>