<div class="course">
  <%= link_to course.name, studying_path(course) %>
  <div>
    <% course.assignments.next.tap do |assignment| %>
      <% if assignment.present? %>
        <%= link_to assignment.name, studying_assignment_path(course, assignment) %>
        due <%= relative_date(assignment.due_date) %>
      <% end %>
    <% end %>
  </div>
</div>