<div class="course">
  <%= link_to course.name, studying_path(course) %>
  <div>
    <% next_assignment(course.assignments) do |assignment| %>
      <%= link_to assignment.name, studying_composition_path(course, assignment) %>
      due <%= relative_assignment_due_date(assignment) %>
    <% end %>
  </div>
</div>