<% title current_course.name %>

<h2>Homework for <%= current_course.name %></h2>

<ul>
  <% current_course.assignments.each do |assignment| %>
    <li>
      <%= link_to assignment.name, studying_assignment_composition_path(current_course, assignment) %>
      Due <%= relative_assignment_due_date(assignment) %>
    </li>
  <% end %>
</ul>
