<% title @course.name %>

<h2><%= @course.name %></h2>

<ul>
  <% @course.assignments.each do |assignment| %>
    <li><%= link_to assignment.name, studying_composition_path(@course, assignment) %></li>
  <% end %>
</ul>
