<% title 'Course enrollment' %>

<% form_for @enrollment do |f| %>
  <%= f.hidden_field :accept_enrollment, 'value' => '1' %>

  <% f.fields_for @enrollment.student do |s| %>
    <%= render enrollment_fields_partial(@enrollment), :object => s %>
  <% end %>

  <div>
    <%= f.submit 'Enroll for class' %>
  </div>
<% end %>