form .date-selector,
form .time-selector {
  margin-right: 9px;
  width: 145px;
}

form .date-selector input[type="text"],
form .time-selector select {
  width: 100%;
}

form .calendar-wrap {
/*  margin-top: 4px;*/
  position: relative;
  width: 300px;
}

form .calendar {
  display: none;
  left: 0;  
  position: absolute;
  top: 4px;
}