form {
  border: 1px solid #dadbdb;
  background: transparent url(/images/form_bg.png) repeat-x scroll 0 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
/*  background-color: #F9F6EF;*/
  display: table;
  padding: 5px 15px 20px 15px;
  position: relative;
  text-align: center;
}

form > * {
  text-align: left;
}

form > div {
  padding: 2px;
}

form label {
  display: block;
  font-weight: bold;
  margin: 11px 0 1px 0;
  padding: 1px 0;
}

form input[type="text"],
form input[type="password"],
form textarea {
  padding: 3px;
  width: 300px;
}

form .checkbox {
  margin-top: 11px;
}

form input[type="checkbox"] {
  margin-top: 2px;
  vertical-align: top;
}

form .checkbox label {
  display: inline;
}

form .submit {
  margin-top: 11px;
}

form .submit-cancel {
  border-top: 1px solid #DADBDB;
  margin: 11px -15px 0 -15px;
  padding: 20px 15px 0 10px;
  text-align: right;
}

form input[type="submit"] {
}

form a.cancel {
  margin-right: 8px;
}

form .error {
  color: #AA0000;
  font-size: 90%;
  font-style: italic;
  margin-top: 3px;
}

form .tip {
  color: #666;
  font-size: 85%; 
  padding: 1px 0 0 5px;
}