<% title 'Grading' %>

<h2>
  <%= current_submission.student.full_name %>'s
  Homework
  <button id="annotate">Annotate Selection</button>
</h2>

<div id="submission-text">
  <div class="text">
    <%= current_submission.text %>
  </div>
</div>

<!-- <div id="annotations">
</div> -->

<%= javascript_include_tag 'selection' %>

<script>
$(function() {
  var annotations = <%= current_submission.annotations.to_json %>;
  
  function nextAnnotationIdentifier() {
    var max = 0;
    for (var i = 0; i < annotations.length; i++) {
      max = max > annotations[i].identifier ? max : annotations[i].identifier;
    }
    return max + 1;
  }

  function createAnnotation(comment, snippet) {
    return {
      'identifier': nextAnnotationIdentifier(),
      'comment': comment,
      'snippet': snippet
    }
  }
  
  $('#annotate').click(function() {
    var annotation = createAnnotation('cool dude lol', HW.selection.text());
    annotations.push(annotation);
    HW.selection.wrap(function() {
      var span = document.createElement('span');
      span.className = 'annotation';
      span.className += ' a_' + annotation.identifier;
      return span;
    });
  });
});
</script>
