<% title 'Grading' %>

<h2>
  <%= current_submission.student.full_name %>'s
  Homework
  <button id="annotate">Annotate Selection</button>
</h2>

<div id="submission-text">
  <div class="text">
    <%= current_submission.text %>
  </div>
</div>

<%= javascript_include_tag 'selection' %>

<script>
$(function() {
  var annotationPath = "<%= teaching_annotations_path(current_course, current_submission) %>";
  
  function annotationJson(comment, snippet) {
    return JSON.stringify({
      'annotation': {
        'comment': comment,
        'snippet': snippet
      }
    });
  }
  
  function postAnnotation(comment, snippet, callback) {
    $.ajax({
      url: annotationPath,
      type: 'post',
      contentType: 'application/json; charset=utf-8',
      data: annotationJson(comment, snippet),
      dataType: 'json',
      beforeSend: function(request) {
        this.headers = {'X-Http-Method-Override': 'post'}
      },
      success: callback,
      error: function() {
        alert('Something went wrong...');
      }
    });
  }

  $('#annotate').click(function() {
    postAnnotation('cool dude lol', HW.selection.text(), function(annotation) {
      HW.selection.wrap(function() {
        var span = document.createElement('span');
        span.className = 'annotation';
        span.className += ' a_' + annotation.id;
        
        return span;
      });
    });
  });

    // IE
    // document.body.createTextRange()
    // document.selection.createRange().htmlText
});
</script>
