<% title 'Grading' %>

<h2>
  <%= current_submission.student.full_name %>'s
  Homework
</h2>

<div id="submission-show">
  <div class="text">
    <%= current_submission.text %>
  </div>
</div>

<%= javascript_include_tag 'selection' %>

<script>
YAHOO.util.Event.onDOMReady(function() {
  alert('lmao')
  YAHOO.util.Event.on(document, 'mouseup', function() {
    alert('lol');
    // console.debug(HW.selection.html());
    
    // var range = HW.selection.range();
    // var span = document.createElement("span");
    // span.style.color = "red";
    // range.surroundContents(span);
    // range.deleteContents();
  });

    // IE
    // document.body.createTextRange()
    // document.selection.createRange().htmlText
});
</script>
