<% title 'Grading' %>

<h2>
  <%= current_submission.student.full_name %>'s
  Homework
  <span class="tip">
    To annotate, select text with your mouse.
  </span>
</h2>

<div id="annotation-margin">
  <textarea id="annotation"></textarea>
  <button id="annotate">Annotate Selection</button>
</div>

<div id="submission-text">
  <%= current_submission.text %>
</div>

<button id="save-change">Save changes</button>

<%= javascript_include_tag 'selection', 'annotator' %>

<script>
$(function() {
  var annotator = HW.Annotator(<%= current_submission.annotations.to_json %>);

  function className(annotation) {
    return 'annotation a_' + annotation.identifier;
  }

  function removeWrap(annotation) {
    $('#submission-text .annotation.a_' + annotation.identifier).each(function() {
      jQuery(this).replaceWith(this.childNodes);
    });
  }

  function createWrap(annotation) {
    return function() {
      var span = document.createElement('span');
      span.className = className(annotation);
      return span;
    };
  }
  
  $('#annotate').click(function() {
    var annotation = annotator.create($('annotation').val(), HW.selection.text());
    HW.selection.wrap(createWrap(annotation));
  });
});
</script>
