<% title 'Password reset' %>

<% form_for @lost_password do |f| %>
  <div>
    <p><%= f.label :new_password, 'New password' %></p>
    <p><%= f.password_field :new_password %></p>
    <p><%= f.error_message_on :new_password, :prepend_text => 'Password ' %></p>
  </div>
  <div>
    <%= f.submit 'Save password' %>
  </div>
<% end %>