<div class="welcome">
  <p>
    This course has no students. You can <strong>enroll up to 50 students</strong> via email.
  </p>
  <p>
    <%= link_to 'Enroll students', teaching_enrollments_path %>
  </p>
</div>