<h2>
  Students
  <%= link_to 'Enroll students »', teaching_enrollments_path(current_course) %>
</h2>

<% if @studiers.any? %>
  <ul>
    <% @studiers.each do |studier| %>
      <li><%= render studier %></li>
    <% end %>
  </ul>
<% elsif @enrollments.any? %>
  <div>
    Waiting for <%= link_to pluralize(@enrollments.size, 'student'), teaching_enrollments_path(current_course) %> to enroll.
  </div>
<% else %>
  <div class="welcome">
    <p>
      This course has no students. You can <strong>enroll up to 50 students</strong> via email.
    </p>
    <p>
      <%= link_to 'Enroll students', teaching_enrollments_path %>
    </p>
  </div>
<% end %>