<h2>
  Students
  <%= link_to 'Enroll students »', teaching_enrollments_path(current_course) %>
</h2>

<% if @studiers.any? %>
  <div id="studier-index">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
      <% @studiers.each do |studier| %>
        <%= render studier %>
      <% end %>
    </table>
<% elsif @enrollments.any? %>
  <div>
    Waiting for <%= link_to pluralize(@enrollments.size, 'student'), teaching_enrollments_path(current_course) %> to enroll.
  </div>
<% else %>
  <%= render 'welcome' %>
<% end %>