<h2>
  Setup <%= @course.name %>
</h2>

<div class="welcome">
  <p>
    Now that you've created a course, there are two next steps to take:
  </p>
  <ul>
    <li><%= link_to 'Enroll students in this course', teaching_enrollments_path(@course) %></li>
    <li><%= link_to 'Assign homework', new_teaching_assignment_path(@course) %></li>
  </ul>
</div>