<h2>Hello, <%= current_teacher.full_name %>, welcome to Homework Bin</h2>

<div class="welcome">
  <p>
    Since this is your first time using Homework Bin, you can try your <strong>first course for free</strong>.
  </p>

  <p>
    <%= link_to 'Start your first course »', new_teaching_path %>
  </p>
</div>