<div id="course-index">
  <% if current_teacher.courses_created > 0 %>
    <h2>
      Your courses
      <%= link_to 'Start a new course »', new_teaching_path %>
    </h2>
    
    <ul class="courses">
      <% @courses.each do |course| %>
        <li class="course"><%= render course %></li>
      <% end %>
    </ul>
  <% else %>
    <div class="welcome">
      <%= render 'welcome' %>
    </div>
  <% end %>
</div>