<div class="courses">
  <ul>
    <% @courses.each do |course| %>
      <li class="course"><%= render course %></li>
    <% end %>
  </ul>
  
  <%= link_to 'Start a new course', new_teaching_path %>
</div>