<html>
<head>
  <%= stylesheet_link_tag 'classroom' %>
</head>
<body class="classroom">
  <div class="menu">
    <ul>
      <li><%= link_to 'Courses', teaching_path(current_teacher) %></li>
    </ul>
  </div>
  <%= yield %>
</body>