<html>
<head>
  <%= stylesheet_link_tag 'classroom' %>
</head>
<body class="classroom">
  <div class="menu">
    <ul>
      <li><%= link_to 'Courses', teachings_path %></li>
      <% if current_course.present? %>
        <li><%= current_course.name %></li>
      <% end %>
    </ul>
  </div>
  <%= yield %>
</body>
</html>